<ion-content [fullscreen]="true">
  <app-navbar></app-navbar>

  <div class="container my-container">
    <div class="p-5 bg-light border rounded-3">
      <h1>Exercice USTS</h1>
      <p className="lead">Le but de cet exercice est de développer une application Android / iOS permettant aux utilisateurs de se voir en temps réel sur une carte via la géolocalisation du device.
      </p>
      <p>
        Il vous faudra pour cela développer une API permettant d'accueillir les données des utilisateurs afin de les synchroniser entre tous les clients et de développer l'application associée qui permettra l'envoi et la réception de ces données de géolocalisation..
      </p>
      <hr />
    </div>

  </div>

  <app-footer></app-footer>
</ion-content>
