<ion-content [fullscreen]="true">
  <app-navbar></app-navbar>

  <div class="container my-container">
    <div class="p-5 bg-light border rounded-3">
      <h1>Géolocalisation</h1>
      <p className="lead">Le but de ce projet est de développer une application <strong>Android / iOS</strong>  permettant aux utilisateurs de <strong>se voir en temps réel sur une carte</strong> via la géolocalisation du device.
      </p>
      <p>
        Il vous faudra pour cela développer une API permettant d'accueillir les données des utilisateurs afin de les synchroniser entre tous les clients et de développer l'application associée qui permettra l'envoi et la réception de ces données de géolocalisation..
      </p>
      <hr />
      Les Framework à utiliser sont :
      <ul>
        <li>API : <strong>Symfony</strong> dans sa dernière version stable) sur un <strong>PHP 8.1</strong></li>
        <li>Client : <strong>Ionic Angular</strong> (dans sa dernière version stable)</li>
      </ul>     
      <p>
        Le projet final devrait avoir un <strong>système d'authentification</strong>  (email ou identifiant simple) et une carte afin de visualiser les autres utilisateurs en <strong>temps réel</strong>.
        Le choix des librairies / packages utilisés vous revient, mais faites attention à la compatibilité des paquets et évitez les librairies abandonnées / dépréciées ou dans des versions incompatibles avec votre framework (particulièrement pour le client).
      </p>
    </div>

  </div>

  <app-footer></app-footer>
</ion-content>
